body {
    text-align: center;
    font-family: Arial;
    background-color: #808080;
}

#board {
    width: 480px;
    height: 480px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 4px solid black;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    font-family: "Segoe UI Symbol", Arial, sans-serif;
}

.white {
    background-color: #f0d9b5;
    color: black;
}

.black {
    background-color: #b58863;
    color: black;
}

.selected {
    outline: 4px solid red;
    outline-offset: -4px;
}

.legal {
    box-shadow: inset 0 0 0 4px rgba(0, 255, 0, 0.8);
}
